.jspContainer {
  overflow: hidden;
  position: relative;
  height: 90px;
}

.jspPane {
  position: absolute;
}

.jspVerticalBar {
  position: absolute;
  top: 0;
  right: 0;
  width: 6px;
  height: 100%;
  background: white;
}

.jspHorizontalBar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 16px;
  background: red;
}

.jspCap {
  display: none;
}

.jspHorizontalBar .jspCap {
  float: left;
}

.jspTrack {
  background: #f9f6f6;
  position: relative;
}

.jspDrag {
  background: #6747E5;
  position: relative;
  top: 0;
  left: 0;
  cursor: pointer;
  width: 6px;
}

.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag {
  float: left;
  height: 100%;
}

.jspArrow {
  background: #50506d;
  text-indent: -20000px;
  display: block;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.jspArrow.jspDisabled {
  cursor: default;
  background: #80808d;
}

.jspVerticalBar .jspArrow {
  height: 16px;
}

.jspHorizontalBar .jspArrow {
  width: 16px;
  float: left;
  height: 100%;
}

.jspVerticalBar .jspArrow:focus {
  outline: none;
}

.jspCorner {
  background: #eeeef4;
  float: left;
  height: 100%;
}

/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner {
  margin: 0 -3px 0 0;
}

.div-scroll-pane {
  padding-bottom: 20px;
  padding-top: 20px;
}

.scroll-pane-text {
  display: block;
  max-height: 100px;
  overflow: hidden;
  height: 43px;
}

.scroll-pane-text p {
  line-height: 1em;
}

#mainPagePromoText {
  position: absolute;
  width: 100%;
  left: 0;
  padding: 10px;
  background-color: white;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 15px;
}

#mainPagePromoTextPush {
  height: 58px;
}

@media (max-width: 1366px) {
  #mainPagePromoText {
    margin-top: 0;
  }
}
